body {
    padding: 50px 0px 0px 0px;
    z-index: 0; }
  
  .navbar-light {
    background-color: green; }

.blog{
    height: 30rem;
    width: 40rem;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
 }