<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
         <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
         <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css"> 
         <link rel="stylesheet" href="/CSS/home_style.css">
    <title>Symptom</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="navbar-brand mr-auto"><img src="/img/logo.png" alt="Health-e-Locker" height="35" width="60"><span class="text-white"> Health-E-Locker</span></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <nav class="navbar-nav">
                    <a href="/dashboard" class="nav-link text-white">Dashboard</a>
                    <a href="/blog" class="nav-link text-white">Blog</a>
                    <a href="/contactus" class="nav-link text-white">Contact us</a>
                    <button class="btn btn-dark m-auto" type="button">Logout</button>
                </nav>
            </div>
        </div>
    </nav>
    <header>

    </header>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 align-middle">
                <h3>Add Symptoms</h3>
                <hr>
            </div>
        </div>
        <form id="sympform" method="POST" action="/addSymptom" enctype="multipart/form-data">
            <div class="form-group">
                <label for="symptom">Symptom</label>
                <input type="text" id="symptom" name="symptom" class="form-control" placeholder="What are you feeling?">
            </div>
            <div class="row">
                <div class="form-group col-12 col-sm-6">
                    <label for="date">Date Occurred</label>
                    <input type="date" id="date" name="date" class="form-control">
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label for="duration">Duration of Symptom(in hours)</label>
                    <input type="text" id="duration" name="duration" class="form-control" placeholder="How long did the symptom persist for?">
                </div>
            </div>
            <div class="form-group">
                <label for="context">Context</label>
                <input type="text" id="context" name="context" class="form-control" placeholder="What was happening at that time?">
            </div>
            <div class="form-group">
                <label for="">Severity</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="severity" id="mild" value="Mild" checked>
                    <label class="form-check-label" for="mild">
                     Mild
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="severity" id="Moderate" value="Moderate">
                    <label class="form-check-label" for="Moderate">
                      Moderate
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="severity" id="severe" value="Severe">
                    <label class="form-check-label" for="severe">
                      Severe
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="note">Add a note</label>
                <input type="text" id="note" name="note" class="form-control" placeholder="Anything to add?">
            </div>
            <div class="form-group">
                <label for="file">Upload Document</label><br>
                <input type="file" id="file" name="file">
            </div>
           <div class="d-flex justify-content-center pb-5">
                <button type="submit" class="btn btn-dark align-middle" id="btnsubmit">Save</button>
           </div>
        </form>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/JS/symptoms.js"></script>
</body>
</html>