<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Use Health-E-Locker</title>
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/CSS/home_style.css">
    <link rel="stylesheet" href="/CSS/tutorial.css">
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light">
        <div class="container">
            <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="#" class="navbar-brand mr-auto"><img src="/img/logo.png" alt="Health-e-Locker" height="35"
                    width="60"><span class="text-white ml-2"> Health-E-Locker</span></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <nav class="navbar-nav">
                    <a href="/home" class="nav-link text-white">Home</a>
                    <a href="#" class="nav-link text-white">User Guide</a>
                    <a href="/contactus" class="nav-link text-white">Contact us</a>
                    <a href="/login">
                        <button class="btn btn-dark m-auto" type="button">Login</button>
                    </a>
                </nav>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="display-4 py-3 font-weight-bold text-capitalize text-center" style="color: var(--green);">
            4 Easy Steps to Use Health-E-Locker
        </div>

        <div class="row py-5">
            <div class="col-md-2">
                <h2>Step-1</h2>
            </div>

            <div class="col-md-4">
                <div class="figure">
                    <img src="/img/scan.jpg" alt="" class="figure-img img-fluid rounded-circle">
                </div>
            </div>

            <div class="col-md-6 align-self-center">
                <h3 class="text-uppercase">Scan The Document to be uploaded</h3>
                <p class="text-muted">
                    Scanning the document can be done using any mobile app.
                    Users can use scanners too.
                </p>
            </div>
        </div>

        <div class="row py-5 bg-light-green flex-row-reverse rounded">
            <div class="col-md-2">
                <h2>Step-2</h2>
            </div>

            <div class="col-md-4">
                <div class="figure">
                    <img src="/img/login_page_ss.png" alt="" class="figure-img img-fluid rounded">
                </div>
            </div>

            <div class="col-md-6 align-self-center">
                <h3 class="text-uppercase">Login into Health-E-Locker</h3>
                <p class="text-muted">
                    Login with existing user id and password into your Health-E-Locker account.
                </p>
            </div>
        </div>

        <div class="row py-5 ">
            <div class="col-md-2">
                <h2>Step-3</h2>
            </div>

            <div class="col-md-4 text-center">
                <div class="figure">
                    <img src="/img/uppload.png" alt="" class="figure-img img-fluid rounded" style="width: 90%;">
                </div>
            </div>

            <div class="col-md-6 align-self-center">
                <h3 class="text-uppercase">upload documents</h3>
                <p class="text-muted">
                    Upload all the documents in the upload section
                </p>
            </div>
        </div>

        <div class="row py-5 bg-light-green flex-row-reverse rounded">
            <div class="col-md-2">
                <h2>Step-4</h2>
            </div>

            <div class="col-md-4 ">
                <div class="figure">
                    <img src="/img/access.jpg" alt="" class="figure-img img-fluid rounded">
                </div>
            </div>

            <div class="col-md-6 align-self-center">
                <h3 class="text-uppercase">access the files anytime on the go</h3>
                <p class="text-muted">
                    Login to your account and view the files you have uploaded anytime and anywhere.
                </p>
            </div>
        </div>

    </div>


</body>

</html>