<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css"> 
    <link rel="stylesheet" href="../CSS/home_style.css">

    <title>Blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="navbar-brand mr-auto"><img src="../img/logo.png" alt="Health-e-Locker" height="35" width="60"><span class="text-white"> Health-E-Locker</span></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <nav class="navbar-nav">
                    <a href="./dashboard.html" class="nav-link text-white">Dashboard</a>
                    <a href="./blog.html" class="nav-link text-white">Blog</a>
                    <a href="./contactus.html" class="nav-link text-white">Contact us</a>
                    <button class="btn btn-dark m-auto" type="button">Logout</button>
                </nav>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row card my-3">
            <div class="card-body card-align">
                <h5 class="card-title">All Documents</h5>
            </div>
        </div>
        <div class="row card my-4">
            <div class="card-header">
                Allergies
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Allergy</h5>
                    <a href="">Open</a>
                </div>
                <p class="card-subtitle">Time mentioned</p>
                <p class="card-text">Reactions</p>
                <p class="card-text">Severity</p>
            </div>
        </div>
        <div class="row card my-4">
            <div class="card-header">
                Symptoms
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Symptom Name</h5>
                    <a href="">Open</a>
                </div>
                <p class="card-subtitle">Time</p>
                <p class="card-text">Severity</p>
                <p class="card-text">Context</p>
                <p class="card-text">Notes</p>
            </div>
        </div>
        <div class="row card my-4">
            <div class="card-header">
                Medications
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Medicie Name</h5>
                    <a href="">Open</a>
                </div>
                <p class="card-subtitle">Time</p>
                <p class="card-text">Dose Information</p>
                <p class="card-text">Protection Against</p>
                <p class="card-text">Notes</p>
            </div>
        </div>
        <div class="row card my-4">
            <div class="card-header">
               Immunisation
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Vaccine Name</h5>
                    <a href="">Open</a>
                </div>
                <p class="card-subtitle">Time</p>
                <p class="card-text">Notes</p>
            </div>
        </div>
        <div class="row card my-4">
            <div class="card-header">
                Hospital Visits
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Hospital Name</h5>
                    <a href="">Open</a>
                </div>
                <p class="card-subtitle">Time</p>
                <p class="card-text">Notes</p>
            </div>
        </div>

    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>